<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hdyg.zhimaqb">

    <!-- 允许连接网络 -->
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--  -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 允许使用相机权限 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <!-- 调用硬件相机权限 -->
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <!-- 添加必要的权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- bugsdk所需权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <application
        android:name=".util.SjApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 填写您从Mob开发者后台中得到的Appkey和AppSecret -->
        <meta-data
            android:name="Mob-AppKey"
            android:value="207ecec356c16"/>
        <meta-data
            android:name="Mob-AppSecret"
            android:value="9fa7753636203edaea01adc1b45c8f49"/>
        <!-- ShareSDK的activity -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent100371282"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <!-- 集成line客户端登录授权，需要添如下格式的过滤器 -->
            <intent-filter>
                <data android:scheme="line.1477692153"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <!-- 微信分享回调 -->
        <activity
            android:name=".view.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <activity
            android:name=".view.MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.UserLoginActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.UserRegistActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.ShareH5WebViewActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.home.BillActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.person.MeSettingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.person.AuthenticationBankCardActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.person.BankSearchActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.person.AuthenticationNameActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".view.person.UpdatePwdActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.home.PayMethodActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.home.PayMoneyQRCodeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.service.MyProfitActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.service.MyTeamActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.service.MyTeamDownActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.service.BalanceCashActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.message.MessageDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.person.TuiSongActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.home.OnlineUpdateActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.home.RechargeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.person.MerchantActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.person.ResetBankCardActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.person.MeMyBankCardActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.XinYongCardActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.service.XycardActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.GuideFirstActivity"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".view.MoreActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.share.ShareDataListActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.person.MeSchoolActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.CameraActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.person.MeSuggestionActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.person.AuthenBankCardActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.person.UpdateTelActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.person.MeMessageActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.person.MeMyServiceActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.person.QuestionAnswerActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.person.UpdateTelSActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>